body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Segoe UI','Open Sans', Arial;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-smooth: 0.5em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inside-hero {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    position: relative;
    height: 200vh;
    width: 100%;
    margin-bottom: -2px;
}

.hero-img {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.hexagon {
    position: relative;
    width: 200px;
    height: 120px;
    background-color: #4BA692;
    margin: 10px;
    left: 10px;
    margin-bottom: 60px;
}

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }

    .hexagon:before {
        bottom: 100%;
        width: 0;
        border-bottom: 60px solid #4BA692;
    }

    .hexagon:after {
        top: 100%;
        width: 0;
        border-top: 60px solid #4BA692;
    }

.row2 {
    margin-left: 110px;
    margin-right: 110px;
}

.chart {
    position: relative;
    width: 500px;
    height: 150px;
    background-color: #4BA692;
    margin: 10px;
    margin-bottom: 11vh;
}

    .chart:before {
        content: "";
        position: absolute;
        width: 0;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
    }

    .chart:before {
        bottom: 100%;
        width: 0;
        border-bottom: 160px solid #4BA692;
    }
    .screens center{
        padding:0px !important;
    }
.heroRight div {
           
            cursor:pointer;
        }
.chart-white {
    position: relative;
    width: 470px;
    height: 150px;
    background-color: #FFF;
    top: 7px;
    left: 15px;
}

    .chart-white:before {
        content: "";
        position: absolute;
        width: 0;
        border-left: 235px solid transparent;
        border-right: 235px solid transparent;
    }

    .chart-white:before {
        bottom: 100%;
        width: 0;
        border-bottom: 150px solid #FFF;
    }

.shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 10px 0 10px -10px rgba(0,0,0,0.2);
    width: 100%;
    height: 20px;
    position: relative;
    top: -2789pt;
}

    .shadow canvas {
        box-shadow: 0 20px 20px -15px rgba(0,0,0,0.2);
        width: 700pt;
    }

@media(min-width:1200px) and (max-width:1500px) {
    .work {
        margin-left: -12%;
    }
}

@media(min-width :1200px) {
    .hexagonDC {
        width: 700pt;
        height: 700pt;
        margin: 5px;
        padding-bottom: 500pt;
        transform: rotate(90deg);
    }

    .hexagonDC1 {
        position: relative;
        top: -649pt;
        left: 50pt;
        width: 600pt;
        height: 595pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC2 {
        position: relative;
        top: -1198pt;
        left: 100pt;
        width: 500pt;
        height: 495pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC3 {
        position: relative;
        top: -1646pt;
        left: 150pt;
        width: 400pt;
        height: 395pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC4 {
        position: relative;
        top: -1995pt;
        left: 200pt;
        width: 300pt;
        height: 295pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC5 {
        position: relative;
        top: -2244pt;
        left: 250pt;
        width: 200pt;
        height: 195pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC6 {
        position: relative;
        top: -2392.5pt;
        left: 300pt;
        width: 100pt;
        height: 95pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .shadow {
        display: block;
    }

    .chartImg {
        display: none;
    }
}

@media(max-width :1200px) {
    .chart-text {
        display: none;
    }

    shadow {
        display: none;
    }

    .chartImg {
        display: block;
        width: 100%;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 20px 20px -12px rgba(0,0,0,0.2);
    }

    .hexagonDC {
        display: none;
    }

    .hexagonDC1 {
        display: none;
    }

    .hexagonDC2 {
        display: none;
    }

    .hexagonDC3 {
        display: none;
    }

    .hexagonDC4 {
        display: none;
    }

    .hexagonDC5 {
        display: none;
    }

    .hexagonDC6 {
        display: none;
    }
}

@media(max-width :960px) {

    shadow {
        display: none;
    }

    .chartImg {
        display: block;
        width: 100%;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 20px 20px -12px rgba(0,0,0,0.2);
    }

    .hexagonDC {
        display: none;
    }

    .hexagonDC1 {
        display: none;
    }

    .hexagonDC2 {
        display: none;
    }

    .hexagonDC3 {
        display: none;
    }

    .hexagonDC4 {
        display: none;
    }

    .hexagonDC5 {
        display: none;
    }

    .hexagonDC6 {
        display: none;
    }

    .chart-text {
        display: none;
    }
}

@media(max-width :768px) {

    shadow {
        display: none;
    }

    .chartImg {
        display: block;
        width: 100%;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 20px 20px -12px rgba(0,0,0,0.2);
    }

    .hexagonDC {
        display: none;
    }

    .hexagonDC1 {
        display: none;
    }

    .hexagonDC2 {
        display: none;
    }

    .hexagonDC3 {
        display: none;
    }

    .hexagonDC4 {
        display: none;
    }

    .hexagonDC5 {
        display: none;
    }

    .hexagonDC6 {
        display: none;
    }
}

.work {
    height: 1000px;
    overflow: hidden;
}

footer {
    background-image: url('/Content/Images/map.jpg');
    background-size: cover 50%;
    min-height: 500px;
}

.green-cover-footer {
    width: 100%;
    min-height: 500px;
    background-color: #47a692;
    opacity: 0.9;
}

.pad-top-50 {
    padding-top: 100px;
}

.pad-top-20 {
    padding-top: 30px;
}

.pad-bottom-20 {
    padding-bottom: 20px;
}

.pad-bottom-40 {
    padding-bottom: 40px;
}

@font-face {
    font-family: "Moderne Sans";
    src: url("/fonts/MODERNE SANS.ttf");
}

h3 {
    font-family: 'Moderne Sans';
    color: #FFF;
    font-size: 36px;
}

.normal-text {
    font-size: 16px;
}

.white-text {
    color: #FFF;
}

.portfolio {
    min-height: 300px;
    margin-bottom: 200px;
}

.deco-left {
    background: url(/Content/Images/port-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 55vh;
    background-position-x: left;
}

.deco-right {
    background: url(/Content/Images/deco-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 54vh;
    background-position-x: left;
}

@media(max-width:1200px) {
    .deco-left {
        display: none;
    }

    .deco-right {
        display: none;
    }
}

.main-top {
    height: 60%;
}

.main-bottom {
}

.fancy-text {
    font-size: 3.2em;
    font-family: "Moderne Sans";
    color: #FFF;
    text-align: right;
}

.chart-text {
    font-family: "Moderne Sans";
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
}

.ps-text {
    top: 245px;
    left: 845px;
    color: #35564F;
    transform: rotate(31deg);
}

.ai-text {
    top: 113px;
    left: 355px;
    color: #43635C;
    transform: rotate(-31deg);
}

.html-text {
    width: 200px;
    top: 297px;
    left: 655px;
    color: #507069;
    transform: rotate(31deg);
}

.ang-text {
    top: 335px;
    left: 655px;
    color: #5E7F78;
    transform: rotate(30deg);
}

.usab-text {
    top: 310px;
    left: 480px;
    color: #709089;
    transform: rotate(31deg);
}

.usr-text {
    width: 250px;
    top: 430px;
    left: 515px;
    color: #83A49D;
    transform: rotate(31deg);
}

.xa-text {
    top: 430px;
    left: 480px;
    color: #9CBDB5;
    transform: rotate(31deg);
}


.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .portfolio-modal .modal-content h2 {
        margin: 0;
        font-size: 3em;
    }

    .portfolio-modal .modal-content img {
        margin-bottom: 30px;
    }

    .portfolio-modal .modal-content .item-details {
        margin: 30px 0;
    }

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

    .portfolio-modal .close-modal:hover {
        opacity: .3;
    }

    .portfolio-modal .close-modal .lr {
        z-index: 1051;
        width: 1px;
        height: 75px;
        margin-left: 35px;
        background-color: #4BA692;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

        .portfolio-modal .close-modal .lr .rl {
            z-index: 1052;
            width: 1px;
            height: 75px;
            background-color: #4BA692;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.mainContent {
    background-color: #FFF;
    padding-top: 10%;
}

@media screen and (max-width: 650px) {
    #app {
        background-image: none;
        background-size: cover;
    }

    .hero {
        background-image: url('/Content/Images/main-back.jpg');
        background-size: cover;
    }

    .dots2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 10vh;
        display: none;
    }

    .dots1 {
        position: absolute;
        top: 5% !important;
        height: 30vh;
        display: none;
    }

    .pImg {
        position: absolute;
        top: 2%;
        left: 100px;
        height: 50vh;
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    #app {
        background-image: none;
        background-size: cover;
    }

    .hero {
        background-image: url('/Content/Images/main-back.jpg');
        background-size: cover;
    }



    .pImg {
        position: absolute;
        top: 2%;
        left: 100px;
        height: 50vh;
        display: none;
    }
}

@media smartphone {
    #app {
        background-image: none;
        background-size: cover;
    }

    .hero {
        background-image: url('/Content/Images/main-back.jpg');
        background-size: cover;
    }

    .dots2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 10vh;
    }

    .dots1 {
        position: absolute;
        top: 10vh;
        height: 30vh;
    }
}



.pImg {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.7;
}

.hexMain {
    height: 153px;
    width: 153px;
    background-image: url('/Content/Images/hex-white.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 706px;
    top: 83px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}

.turqImg {
    position: absolute;
    top: 43%;
    left: 34%;
}

    .turqImg:hover {
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotate;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        cursor: pointer;
    }

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.heroText {
    position: absolute;
    top: 320px;
    left: 323px;
    text-align: center;
    font-family: 'Moderne Sans';
    color: #FFF;
    font-size: 2em;
}

.nameText {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 5px dotted rgba(255,255,255,0.5);
}

.titleText {
    padding-top: 20px;
}

.heroRight {
    position: absolute;
    top: 15%;
    right: 20%;
    color: #FFF;
    font-size: 1.5em;
    letter-spacing: 5px;
}

    .heroRight span {
        margin-left: -50px;
        transition: opacity linear 0.5s;
        opacity: 0;
    }

    .heroRight div {
        padding-bottom: 40px;
    }

    .heroRight img {
        position: relative;
        cursor: pointer;
        left: 0px;
        transition: left linear 0.5s;
    }


.heroMeImg {
    position: absolute;
    left: 641px;
    top: 643px;
}

.heroRightIphone {
    display: none;
}

@media only screen and (max-width:768px) and (orientation : portrait) {
    .heroMeImg {
        position: absolute;
        top: 7%;
        left: 45%;
        height: 6%;
    }

    .heroRight {
        position: absolute;
        left: 45%;
        top: 25%;
    }

    .hexMain {
        position: absolute;
        top: 7%;
        left: 45%;
        height: 6%;
        background-size: contain;
        opacity: 0.5;
        transition: opacity ease 0.5s;
    }

        .hexMain:hover {
            opacity: 1.0;
        }

    .hero-img {
        bottom: -1px;
    }
}

@media only screen and (max-width:1200px) and (orientation : portrait) {
    .heroMeImg {
        position: absolute;
        top: 5%;
        left: 45%;
        height: 6%;
    }

    .heroRight {
        position: absolute;
        left: 45%;
        top: 25%;
    }

    .hexMain {
        position: absolute;
        top: 5%;
        left: 45%;
        height: 6%;
        background-size: contain;
        opacity: 0.5;
        transition: opacity ease 0.5s;
    }
    .turqImg{
        height:15%;
        left:30%;
    }

    .heroText{
        left:41%;
        top:14%;
    }

        .hexMain:hover {
            opacity: 1.0;
        }

    .hero-img {
        bottom: -1px;
    }
}

@media only screen and (max-width:1366px) and (orientation : landscape) {


    .pImg {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0.7;
        display: block;
        width: 40%;
        height: auto;
    }

    .hero-img {
        bottom: -1px;
    }

    .hexMain {
        height: 100px;
        width: 100px;
        background-image: url('/Content/Images/hex-white.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 465px;
        top: 55px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
        transition-property: transform;
        transition-duration: 1s;
    }

    .turqImg {
        position: absolute;
        top: 43%;
        left: 34%;
        height: 16px;
    }

        .turqImg:hover {
            -webkit-animation-name: rotate;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: rotate;
            -moz-animation-duration: 2s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            animation-name: rotate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            cursor: pointer;
        }

    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes rotate {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .heroText {
        position: absolute;
        top: 180px;
        left: 190px;
        text-align: center;
        font-family: 'Moderne Sans';
        color: #FFF;
        font-size: 1.5em;
    }

    .nameText {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 5px dotted rgba(255,255,255,0.5);
    }

    .titleText {
        padding-top: 20px;
    }

    .heroRight {
        position: absolute;
        top: 15%;
        right: 15%;
        color: #FFF;
        font-size: 1.5em;
        letter-spacing: 5px;
    }

        .heroRight span {
            margin-left: -50px;
            transition: opacity linear 0.5s;
            opacity: 0;
        }

        .heroRight div {
            padding-bottom: 40px;
            cursor:pointer;
        }
         

        .heroRight img {
            position: relative;
            cursor: pointer;
            left: 0px;
            transition: left linear 0.5s;
            height: 80px;
        }

   

    .heroMeImg {
        position: absolute;
        left: 440px;
        top: 430px;
        height: 150px;
    }

    .fancy-text {
        font-size: 3em;
        position: relative;
        top: 0px;
    }

    #categories {
        left: -10px !important;
    }

    .hexagonDC {
        width: 600pt;
        height: 600pt;
        margin: 5px;
        padding-bottom: 500pt;
        transform: rotate(90deg);
    }

    .hexagonDC1 {
        position: relative;
        top: -569pt;
        left: 28pt;
        width: 540pt;
        height: 535pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC2 {
        position: relative;
        top: -1078pt;
        left: 60pt;
        width: 480pt;
        height: 475pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC3 {
        position: relative;
        top: -1526pt;
        left: 90pt;
        width: 420pt;
        height: 415pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC4 {
        position: relative;
        top: -1914.5pt;
        left: 120pt;
        width: 360pt;
        height: 355pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC5 {
        position: relative;
        top: -2243.5pt;
        left: 150pt;
        width: 300pt;
        height: 295pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .hexagonDC6 {
        position: relative;
        top: -2512pt;
        left: 180pt;
        width: 240pt;
        height: 235pt;
        margin: 5px;
        transform: rotate(90deg);
        overflow-y: hidden;
    }

    .shadow canvas {
        position: relative;
        top: -186px;
        width: 600pt;
    }

    .ps-text {
        top: 215px;
        left: 725px;
        color: #35564F;
        transform: rotate(31deg);
    }

    .ai-text {
        top: 78px;
        left: 300px;
        color: #43635C;
        transform: rotate(-31deg);
    }

    .html-text {
        width: 200px;
        top: 237px;
        left: 575px;
        color: #507069;
        transform: rotate(31deg);
    }

    .ang-text {
        top: 260px;
        left: 600px;
        color: #5E7F78;
        transform: rotate(30deg);
    }

    .usab-text {
        top: 210px;
        left: 415px;
        color: #709089;
        transform: rotate(31deg);
    }

    .usr-text {
        width: 250px;
        top: 310px;
        left: 465px;
        color: #83A49D;
        transform: rotate(31deg);
    }

    .xa-text {
        top: 280px;
        left: 405px;
        color: #9CBDB5;
        transform: rotate(31deg);
    }
}

@media only screen and (width:1024px) and (orientation : landscape) {


    .pImg {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0.7;
        display: block;
        width: 40%;
        height: auto;
    }

    .hero-img {
        bottom: -1px;
    }

    .hexMain {
        height: 73px;
        width: 73px;
        background-image: url('/Content/Images/hex-white.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 375px;
        top: 45px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
        transition-property: transform;
        transition-duration: 1s;
    }

    .turqImg {
        position: absolute;
        top: 43%;
        left: 34%;
        height: 13px;
    }

        .turqImg:hover {
            -webkit-animation-name: rotate;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: rotate;
            -moz-animation-duration: 2s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            animation-name: rotate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            cursor: pointer;
        }

    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes rotate {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .heroText {
        position: absolute;
        top: 150px;
        left: 165px;
        text-align: center;
        font-family: 'Moderne Sans';
        color: #FFF;
        font-size: 1.7em;
    }

    .nameText {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 5px dotted rgba(255,255,255,0.5);
    }

    .titleText {
        padding-top: 20px;
    }

    .heroRight {
        position: absolute;
        top: 15%;
        right: 20%;
        color: #FFF;
        font-size: 1.5em;
        letter-spacing: 5px;
    }

        .heroRight span {
            margin-left: -50px;
            transition: opacity linear 0.5s;
            opacity: 0;
        }

        .heroRight div {
            padding-bottom: 40px;
        }

        .heroRight img {
            position: relative;
            cursor: pointer;
            left: 0px;
            transition: left linear 0.5s;
            height: 70px;
        }

    

    .heroMeImg {
        position: absolute;
        left: 340px;
        top: 343px;
        height: 150px;
    }

    .fancy-text {
        font-size: 4em;
        position: relative;
        top: 100px;
    }

    #categories {
        left: -50px !important;
    }
}

@media screen and (max-width: 768px) and (orientation : landscape) {
    .workTiles {
        width: 60% !important;
        float: left;
    }

    .deco-left {
        display: block;
        width: 20%;
    }

    .deco-right {
        display: block;
        width: 20%;
    }

    .portfolio {
        margin-bottom: 50px;
    }

    .main-top {
        height: 50%;
    }

    .hero {
        height: 150vh;
    }

    .work {
        height: 600px;
    }
}

@media only screen and (max-width:450px) and (orientation : portrait) {
    .heroMeImg {
        position: absolute;
        top: 5%;
        left: 42%;
        height: 6%;
    }

    .heroRight {
        position: absolute;
        left: 43%;
        top: 27%;
    }

        .heroRight img {
            width: 65px;
        }

        .heroRight div {
            padding-bottom: 30px;
        }

    .hexMain {
        position: absolute;
        top: 5%;
        left: 42%;
        height: 6.1%;
        background-size: contain;
        opacity: 0.5;
        transition: opacity ease 0.5s;
    }

        .hexMain:hover {
            opacity: 1.0;
        }

    .hero-img {
        bottom: -1px;
    }

    .heroText {
        position: absolute;
        top: 13%;
        left: 30%;
        font-size: 1.5em;
        background-color: rgba(255,255,255,0.7);
        padding: 20px;
        border: 2px dashed #fff;
        color: #567970;
    }

    .turqImg {
        width: 13px;
        left: 22%;
    }

    .fancy-text {
        width: 60%;
        margin-right: 10%;
        float: right;
    }

    .nameText {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px dotted rgba(86,121,112,0.5);
    }
}

@media only screen and (max-width:360px) and (orientation : portrait) {
    .heroMeImg {
        position: absolute;
        top: 5%;
        left: 42%;
        height: 6%;
    }

    .heroRight {
        position: absolute;
        left: 43%;
        top: 30%;
    }

        .heroRight img {
            width: 50px;
        }

        .heroRight div {
            padding-bottom: 30px;
        }

    .heroRightIphone {
        display: none;
    }

    .hexMain {
        position: absolute;
        top: 5%;
        left: 42%;
        height: 6.1%;
        background-size: contain;
        opacity: 0.5;
        transition: opacity ease 0.5s;
    }

        .hexMain:hover {
            opacity: 1.0;
        }

    .hero-img {
        bottom: -1px;
    }

    .heroText {
        position: absolute;
        top: 13%;
        left: 27%;
        font-size: 1.5em;
        background-color: rgba(255,255,255,0.7);
        padding: 20px;
        border: 2px dashed #fff;
        color: #567970;
    }

    .turqImg {
        width: 13px;
        left: 19%;
    }

    .fancy-text {
        width: 60%;
        margin-right: 10%;
        float: right;
    }

    .nameText {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px dotted rgba(86,121,112,0.5);
    }
}

@media only screen and (max-width:320px) and (orientation : portrait) {
    .heroMeImg {
        position: absolute;
        top: 4%;
        left: 42%;
        height: 6%;
    }

    .heroRightIphone {
        position: absolute;
        left: 11%;
        top: 35%;
        display: block;
    }

        .heroRightIphone img {
            width: 50px;
        }

        .heroRightIphone div {
            padding-bottom: 30px;
        }

    .heroRight {
        display: none;
    }

    .heroRightIphone div {
        float: left;
        margin-left: 25px;
    }

    .hexMain {
        position: absolute;
        top: 4%;
        left: 42%;
        height: 6.1%;
        background-size: contain;
        opacity: 0.5;
        transition: opacity ease 0.5s;
    }

        .hexMain:hover {
            opacity: 1.0;
        }

    .hero-img {
        bottom: -1px;
    }

    .heroText {
        position: absolute;
        top: 12%;
        left: 23%;
        font-size: 1.5em;
        background-color: rgba(255,255,255,0.7);
        padding: 20px;
        border: 2px dashed #fff;
        color: #567970;
    }

    .turqImg {
        width: 13px;
        left: 12%;
    }

    .fancy-text {
        width: 60%;
        margin-right: 10%;
        float: right;
        font-size: 2.5em;
    }

    .nameText {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px dotted rgba(86,121,112,0.5);
    }
}

@media only screen and (max-width:1366px) and (min-width:1350px) and (orientation : landscape) {


    .pImg {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0.7;
        display: block;
        width: 40%;
        height: auto;
    }

    .hero-img {
        bottom: -1px;
    }

    .hexMain {
        height: 73px;
        width: 73px;
        background-image: url('/Content/Images/hex-white.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 505px;
        top: 90px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
        transition-property: transform;
        transition-duration: 1s;
    }

    .turqImg {
        position: absolute;
        top: 43%;
        left: 34%;
        height: 13px;
    }

        .turqImg:hover {
            -webkit-animation-name: rotate;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: rotate;
            -moz-animation-duration: 2s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            animation-name: rotate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            cursor: pointer;
        }

    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes rotate {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .heroText {
        position: absolute;
        top: 210px;
        left: 220px;
        text-align: center;
        font-family: 'Moderne Sans';
        color: #FFF;
        font-size: 1.3em;
    }

    .nameText {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 5px dotted rgba(255,255,255,0.5);
    }

    .titleText {
        padding-top: 20px;
    }

    .heroRight {
        position: absolute;
        top: 15%;
        right: 20%;
        color: #FFF;
        font-size: 1.5em;
        letter-spacing: 5px;
    }

        .heroRight span {
            margin-left: -50px;
            transition: opacity linear 0.5s;
            opacity: 0;
        }

        .heroRight div {
            padding-bottom: 40px;
        }

        .heroRight img {
            position: relative;
            cursor: pointer;
            left: 0px;
            transition: left linear 0.5s;
            height: 70px;
        }

    

    .heroMeImg {
        position: absolute;
        left: 470px;
        top: 443px;
        height: 150px;
    }

    .fancy-text {
        font-size: 3em;
        position: relative;
        top: 0px;
    }

    #categories {
        left: -10px !important;
    }
}

.work {
    opacity: 0;
    transition: opacity ease 1s;
}

.modalMainType1 {
    width: 100%;
    height: 500px;
    background-repeat:no-repeat;
    margin-bottom:30px;
}

    .modalMainType1 h1 {
        padding-top: 15%;
        color: #FFF;
        font-size: 5em;
        font-weight: 100;
        font-family: 'Open Sans';
        text-transform: uppercase;
        letter-spacing: 10px;
    }

.section center {
    width: 100%;
    color: #999999;
    font-size: 1.2em;
    padding-top: 7%;
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'Open Sans';
    font-weight: 500;
    margin-bottom: 20px;
}

.section img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section {
    min-height: 300px;
    margin-bottom:100px;
}

.skillTile {
    height: 200px;
    background-color: #fafafa;
    margin-bottom: 10px;
}

    .skillTile img {
        height: 70px;
        margin-top: 10px;
        margin-bottom: 20px !important;
        padding:0;
    }

    .skillTile span {
        font-size: 1em !important;
        color: #999999;
    }

@media only screen and (max-width : 800px) and (min-width:415px) {

    .section {
        font-size: 2em;
    }

    .skillTile span {
        font-size: 2em;
        color: #999999;
    }

    .modalMainType1 h1 {
        padding-top: 40%;
        color: #FFF;
        font-size: 5em;
        font-weight: 100;
        font-family: 'Open Sans';
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    .work{
        margin-bottom:100px;
        height:auto;
        padding-bottom:20px;
        padding-left:0%;
        
    }
    #categories{
        left:20px !important;
        padding-bottom:200px;
    }
    
    .portfolio{
        margin-bottom:20px;
    }
    
}
@media only screen and (max-width : 414px) {
    #categories{
        left:20px !important;       
        padding-bottom:200px;
    }
    
    .modalMainType1 h1 {
        padding-top: 40%;
        color: #FFF;
        font-size: 5em;
        font-weight: 100;
        font-family: 'Open Sans';
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    .portfolio{
        margin-bottom:20px;
    }
    .work{
        margin-bottom:100px;
        height:auto;
        padding-bottom:20px;
        padding-left:0%;
        
    }
}

@media only screen and (max-width : 1200px) and (min-width : 801px) {

    .section {
        font-size: 2em;
    }

    .skillTile span {
        font-size: 2em;
        color: #999999;
    }

    .modalMainType1 h1 {
        padding-top: 20%;
        color: #FFF;
        font-size: 10em;
        font-weight: 100;
        font-family: 'Open Sans';
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.portfolioButton {
    min-width: 150px;
    height: 45px;
    border: 2px solid #4BA692;
    background-color: #FFF;
    color: #4BA692;
    transition: background-color ease-out 1s;
    transition: color ease 0.5s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 2px;
}

    .portfolioButton:hover {
        color: #FFF;
        background-color: #4BA692;
    }

.black {
    background-color:#202020 !important;
    
}
.black span{
    color: #FAFAFA !important;
}

.section h1 > img {
    height: 200px;
    
    padding:0px;
}

.portfolio-modal .modal-content h2{
    font-size:2em;
    font-family:'Open Sans',Arial;
    text-transform:uppercase;
    letter-spacing:3px;
}


.screens{
    border:1px dashed #ccc;
    padding:5px !important;
    padding-top:0px;
    padding-bottom:5px;
    margin-bottom:20px;

}

.screens img{
    padding-top:5px !important;
}

.screens p{
    padding-bottom:30px;
    color:#666;
    letter-spacing:1px;
}

@media screen and (max-width:441px){
    .screens p{
    font-size:1.5em;
}
    .section center{
        padding:10px;
        font-size:2em;
        text-justify:distribute-all-lines;
        justify-content:space-between;
    }
}