@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/preloader.css" rel="stylesheet" />

<header id="ha-header" class="ha-header ha-header-none">
    <div class="ha-header-perspective">
        <div class="ha-header-front">
            <h1><span>SANDEEP PAL</span></h1>
            <nav>
                <a onclick="ScrollTo('home')"> HOME </a>
                <a onclick="ScrollTo('work')">SKILLS</a>
                <a onclick="ScrollTo('portfolio')">WORK</a>
                <a onclick="ScrollTo('footer')">CONTACT</a>
            </nav>
        </div>
        <div class="ha-header-bottom">
            
        </div>
    </div>
</header>
<div class="hero" id="home">
    <div class="clearfix"></div>
    <div class="inside-hero" >
        <div class="main-top">
          <img src="~/Content/Images/p.png" class="pImg img-responsive" />
            <div class="hexMain">
                <img onclick="ScrollTo('mainBottom')" src="~/Content/Images/hex-turq.png" class="turqImg" />
            </div>
        </div>
        <div class="main-bottom" id="mainBottom">
            <div class="clearfix"></div>
            <div class="col-lg-5 col-lg-offset-5 fancy-text"> I AM A UX DESIGNER AND DEVELOPER AND I LIKE SIMPLE GEOMETRIC SHAPES</div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <img class="hero-img" src="~/Content/Images/hide.png" />
        <div class="clearfix"></div>
    </div>

</div>
<div class="mainContent">
    <section class="ha-waypoint" data-animate-down="ha-header-small" data-animate-up="ha-header-none"></section>
    <div class="clearfix" id="work"></div>
    <div style="width:100%;">
        <center><img src="~/Content/Images/separator.png" /></center>
    </div>
    <div class="clearfix pad-bottom-20"></div>
    <div class="work pad-top-50">
        <div class="clearfix"></div>
        <div class="col-lg-3 col-sm-1 col-xs-1"></div>

        <div class="col-lg-6 col-sm-10 col-xs-10 col-md-12">
            <div class="chart-text ps-text">Photoshop </div>
            <div class="chart-text ai-text">ILLUSTRATOR </div>
            <div class="chart-text html-text">HTML5, css3 </div>
            <div class="chart-text ang-text">angularjs </div>
            <div class="chart-text usab-text">usability study </div>
            <div class="chart-text usr-text">user research </div>
            <div class="chart-text xa-text">xaml / c# </div>
            <div id="hexagon-01" class="hexagonDC">
            </div>
            <div id="hexagon-02" class="hexagonDC1">
            </div>
            <div id="hexagon-03" class="hexagonDC2">
            </div>
            <div id="hexagon-04" class="hexagonDC3">
            </div>
            <div id="hexagon-05" class="hexagonDC4">
            </div>
            <div id="hexagon-06" class="hexagonDC5">
            </div>
            <div id="hexagon-07" class="hexagonDC6">
            </div>

            <div class="shadow">
                <canvas></canvas>
            </div>
            <div class="chartImg img-responsive">
                <img src="~/Content/Images/chart.png" class="img-responsive" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix" id="portfolio"></div>
    <div style="width:100%;">
        <center><img src="~/Content/Images/separator.png" /></center>
    </div>
    <div class="clearfix pad-bottom-20"></div>
    <div class="portfolio pad-top-50">
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-1 deco-left">


        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            <ul id="categories" class="clr">
                <li>
                </li>
                <li ng-repeat="project in works.projects" ng-click="OpenModal(project)">
                    <div class="portfolio-link">
                        <img ng-src="{{project.mainImg}}" alt="" />
                        <h1><a>{{project.title}}</a></h1>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-lg-3 col-md-1 deco-right"></div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix" id="footer"></div>
    <div style="width:100%;">
        <center><img src="~/Content/Images/separator.png" /></center>
    </div>
    <div class="clearfix pad-bottom-20"></div>

</div>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{modalData.title}}</h2>
                        <hr class="star-primary">
                        <img src="~/Content/Images/main-back.jpg" class="img-responsive img-centered" alt="">
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
