<h2>WORKS</h2>
<hr class="star-primary">
<div class="row ">
    <h1>{{modalData.shortDesc}}</h1>
    <img class="img-responsive" ng-src="{{modalData.heroImg}}" />
    <div ng-repeat="section in modalData.sections" class="container">
        <h2>{{section.title}}</h2>
        <hr class="star-primary" ng-if="section.title"> 
        <div class="section" ng-if="section.type == 1">
            <center ng-bind-html="$sce.trustAsHtml(section.text)"></center>
        </div>
        <div ng-if="section.type == 2" class="section">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 skillTile" ng-repeat="(key,val) in section.skills">
                <center>
                    <div> <img ng-src="/Content/Images/{{key}}.png" /></div>
                    <div><span>{{key | uppercase}}</span></div>
                </center>
            </div>
           <div class="clearfix"></div>
        </div>
       
        <div class="section" ng-if="section.type == 3">
            <div ng-repeat="image in section.images" class="screens">
                <center><img class="img-responsive" ng-src="{{image.src}}" /></center>
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                    <p ng-bind-html="$sce.trustAsHtml(image.text)"></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>   
        <div class="clearfix"></div>     
    </div>

</div>